#nav{
    justify-content: right;
}

.body{
    background-color: #e52d27;
    min-height: 100vh;
    text-align: center;
}

/* #root{
    background-color: #e52d27;
    min-height: 100vh;
    text-align: center;
} */


#margins{
    margin: auto;
}
#center{
    text-align: center;
}

#buttons{
    margin: 20px;
    width: 200px;
    height: 200px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 30px;
}
/* html{
    background-color: #ED213A;
} */